{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": false,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "spread": true,
        "superInFunctions": false,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true,
        "jsx": true
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "comma-dangle": [2, "always-multiline"],
        "constructor-super": 2,
        "curly": 2,
        "eol-last": 2,
        "generator-star-spacing": 1,
        "quotes": [2, "single"],
        "no-alert": 0,
        "no-console": 2,
        "no-debugger": 2,
        "no-loop-func": 0,
        "no-this-before-super": 2,
        "no-underscore-dangle": 0,
        "no-var": 2,
        "no-warning-comments": 1,
        "object-shorthand": 2,
        "prefer-const": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/jsx-no-undef": 2,
        "react/display-name": 0,
        "react/react-in-jsx-scope": 0,
        "jsx-quotes": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-multi-comp": 2,
        "react/prop-types": 2,
        "react/self-closing-comp": 2,
        "react/wrap-multilines": 2,
        "semi": [2, "always"]
    }
}
